services:
    PermissionObject:
        setup:
            - addResource('admin.settings')
            - addResourceAction('admin.settings', 'view')
            - allow('moderator', 'admin.settings', 'view')
            - addResourceAction('admin.settings', 'create')
            - allow('admin', 'admin.settings', 'create')
            - addResourceAction('admin.settings', 'edit')
            - allow('moderator', 'admin.settings', 'edit')
            - addResourceAction('admin.settings', 'delete')
            - allow('admin', 'admin.settings', 'delete')

    - Wame\SettingsModule\Components\ISettingsMenuControlFactory
    - Wame\SettingsModule\Forms\SettingsForm

    # Repositories
    SettingsRepository:
        class: Wame\SettingsModule\Repositories\SettingsRepository
        inject: yes

    SettingsManager:
        class: Wame\SettingsModule\Models\SettingsManager

    SettingsGroupRegister:
        class: Wame\SettingsModule\Registers\SettingsGroupRegister


doctrine:
    metadata:
        Wame\SettingsModule\Entities: %appDir%/../vendor/wame/SettingsModule/entities
